html{
    font-size: 62.5%;
}
.choosingmodal{
    height: 60rem;
    width: 70rem;
background: #ffff;
z-index: 100;
position: absolute;
left: 50%;
top: 10%;
transform: translate(-50%);
border-radius: 1rem;

}

.choosingmodal-heading{
    text-align: center;
    padding: 1rem 4.8rem;
    border-bottom:1px solid grey ;   
}
.choosingmodal-heading-main{
font-size: 2.4rem;
}
.choosingmodal-heading-sub{
 font-size: 1.7rem;
}
.choosingmodal-select{
display: grid;
grid-template-columns: 3fr 4fr;
}
.choosingmodal-choices{
  border-right: 0.5px solid rgb(8, 8, 8);
  height: 44rem;
  padding: 3.2rem 1rem;
}
.choosingmodal-choices::-webkit-scrollbar {
  //  width: 4px;  /* Remove scrollbar space */
  // background: rgb(165, 165, 165);  /* Optional: just make scrollbar invisible */
}
.choosingmodal-choices-entry{
    margin-bottom: 1.2rem;
    display: flex;
    gap: 1.2rem;
}
.choosingmodal-choices-entry>input{
  height: 2.5rem;
  width: 2.5rem;
//   margin-right: 1.2rem;
  border-radius: 3px;
}
.choosingmodal-choices-entry>label{
    font-size: 1.7rem;
}
.choosingmodal-people{
   height: 46rem;
   overflow-y: scroll;
}
.choosingmodal-people::-webkit-scrollbar {
    width: 0;  /* Remove scrollbar space */
   background: transparent;  /* Optional: just make scrollbar invisible */
}
.choosingmodal-people-search{
    padding-bottom: 0.8rem;
    border-bottom: 1px solid grey;
    padding-left: 0.4rem;
}
.choosingmodal-people-search>input{
 
  width: 31rem;
  height: 3.5rem;
  border-radius: 1rem;
  outline: none;
  padding-left: 0.6rem;

}
.choosingmodal-people-search>button{
    background-color: #483bfd;
    color: #fff;
    font-size: 1.9rem;
    border: none;
    border-radius: 1rem;
    height: 3.5rem;
   // margin-left: 1rem;
    width: 7rem;
    margin-top: 0.2rem;
    box-shadow: (2px 2px 4px #4a5269);
    cursor: pointer;

}
.choosingmodal-people-entry{
display: flex;
border-bottom: 1px solid grey;
gap: 1.6rem;
padding: 0.8rem;
}
.choosingmodal-people>p{
    font-size: 2rem;
    text-align: center;
    margin-top: 1rem;
}
.choosingmodal-people-entry>img{
    height: 3rem;
    width: 3rem;
    border-radius: 50%;
}
.choosingmodal-people-entry>input{
    height: 2rem;
    width: 2rem;
}
.choosingmodal-people-entry-text{
    display: flex;
    flex-direction: column;
    gap: 0.4rem;
    width: 20rem;
    margin-top: -0.4rem;
    
}
.choosingmodal-people-entry-name{
    font-size: 1.8rem;
}
.choosingmodal-button{
    position: absolute;
    bottom: 4rem;
    right: 4rem;
    width: 10rem;
    height: 4rem;
    font-size: 2.4rem;
    background: #70ec70;
    color: #fff;
    border: none;
    border-radius:1rem ;
    box-shadow: (4px 2px 4px #4a694a);
}
.choosingmodal-people-entry-posts{
    font-size: 1.8rem;
   color: grey;
}

@media (max-width: 46.5em){
  .choosingmodal{
   width: 50rem;
  }

    .choosingmodal-select{
        display: grid;
        grid-template-columns: 1fr;
        }

        .choosingmodal-choices{
            border-right: 0.5px solid rgb(8, 8, 8);
            height: 13rem;
            padding: 3.2rem 1rem;
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: 1.2rem;
            margin-bottom: 1rem;
            overflow-y: scroll;
          }
          .choosingmodal-choices-entry{
              margin-bottom: 1.2rem;
              display: flex;
              gap: 1.2rem;
          }
          .choosingmodal-choices-entry>input{
            height: 2.5rem;
            width: 2.5rem;
          //   margin-right: 1.2rem;
            border-radius: 3px;
          }
          .choosingmodal-choices-entry>label{
              font-size: 1.7rem;
          }
          .choosingmodal-people{
              border-top: 1px solid grey;
              padding-top: 0.8rem;
            height: 20rem;
            overflow-y: scroll;
         }
}


@media (max-width: 37.5em){
    .choosingmodal{
        width: 31rem;
       }
    .choosingmodal-choices{
       height: 13rem;
        padding: 2.4rem 1rem;
        display: block;
       // grid-template-columns: 1fr 1fr;
        gap: 1.2rem;
     
       
      }
      .choosingmodal-heading{
        padding: 0.8rem 2rem;
    }
    .choosingmodal-heading-main{
    font-size: 2rem;
    }
    .choosingmodal-heading-sub{
     font-size: 1.5rem;
    }
    .choosingmodal-choices-entry{
        margin-bottom: 1rem;
        gap: 1rem;
    }
    .choosingmodal-choices-entry>label{
        font-size: 1.6rem;
        
    }
    
    .choosingmodal-people-search>input{
     
      width: 22rem;
      height: 3rem;
      border-radius: 1rem;
      outline: none;
      padding-left: 0.6rem;
      margin-right: 0.2rem;
    }
    .choosingmodal-people-search>button{
     
        font-size: 1.6rem;
        height: 3rem;
       // margin-left: 1rem;
        width: 6rem;
        margin-top: 0.2rem;
      
    }
    .choosingmodal-people-entry{
   
    gap: 1.4rem;
    padding: 0.6rem;
    }
    .choosingmodal-people>p{
        font-size: 1.8rem;
        
        margin-top: 0.8rem;
    }
   
    .choosingmodal-people-entry-name{
        font-size: 1.6rem;
    }
    .choosingmodal-button{
     
        right: 2rem;
        width: 9rem;
        height: 3.2rem;
        font-size: 2rem;
       
    }
    // .choosingmodal-people-entry-posts{
    //     font-size: 1.8rem;
    //    color: grey;
    // }
    
}