html{
    font-size: 62.5%;
}

.postimagepreview{
  width: 60rem;
  
}

.postimagepreview-img{
   height: 37rem;
   width: 100%;
  
}
.postimagepreview{
    position: relative;
}

.postimagepreview-cancel{
  position: absolute;
  top: 0.8rem;
  left: 0.8rem;
  height: 4rem;
  width: 4rem;
  cursor: pointer;
}

@media (max-width:56.25em){
  .postimagepreview{
    width: 45rem;
  }

}
@media (max-width:37.5em ){
  .postimagepreview{
    width: 25rem;
    margin-left: -3.4rem;
  }
 .postimagepreview-img{
    height: 30rem;
    width: 100%;
   
 }

}