html{
    font-size: 62.5%;
}
.rightnav{
 padding-top: 3.2rem;
 padding-left: 3.2rem;

}
.profile{
  display: flex;
  gap: 2rem;
  margin-bottom: 3.2rem;
 
}
.profile-avatar{
  height: 8rem;
  width: 8rem;
  border-radius: 10px;
  cursor: pointer;
}
.profile>p{
    font-size: 2.4rem;
    margin-top: 0.8rem;
    cursor: pointer;
}
.profile>p:hover{
  text-decoration: underline;
}
.rightnav>button{
  font-size: 2.4rem;
  width: 18rem;
  height: 4rem;
  border: none;
  border-radius: 1rem;
  color: #ffff;
  background-color: rgb(67, 79, 250);
 // margin-left: 2.4rem;
  box-shadow: (3px 3px 4px rgb(72, 79, 104));
  margin-bottom: 2rem;
  cursor: pointer;
}
.notifications{

}
.notifications>p{
    font-size:3.2rem ;
    margin-bottom: 2.4rem;
}
.messages{
     
}
.rightnav__message{
  display: flex;
  gap: 1.2rem;
  margin-bottom: 1.2rem;
}
.rightnav__message>img{
   height: 4.5rem;
   width: 4.5rem;
   border-radius: 50%;
   margin-top: 0.4rem;
}
.message-info{
    
}
.sender-name{
   font-size: 2rem;
}
.sender-message{
    font-size: 1.6rem;
    color: #6f6f6f;
}
@media (max-width: 88em) {
  html{
    font-size: 50%;
  }
 
}