html{
    font-size: 62.5%;
}
.chatpage__container{
    display: grid;
    grid-template-columns:  1fr 2fr ;
    overflow-y: hidden;
    
  // height: 100vh;
}
.chatpage__topnav{
    position: fixed;
    left: 0;
    right: 66.66%;
    top: 0;
    background: #fff;
    padding: 1.6rem;
    padding-left: 2.4rem;
    border-bottom: 1px solid rgb(179, 179, 179);
    border-right: 1px solid rgb(179, 179, 179);
    background: #70ec70;
    z-index: 4;
}
.chatpage__topnav-top{
    display: flex;
    gap: 1.2rem;
    margin-bottom: 1.6rem;
   
}
.chatpage__topnav-top>img{
height: 4rem;
width: 4rem;
}
.chatpage__topnav-top-profileimg{
    border-radius: 50%;
    cursor: pointer;
}
.chatpage__topnav-bottom{
    display: flex;
}
.chatpage__topnav-split{
    display: flex;
    gap: 0.9rem;
    margin-left: 2.4rem;
}
.chatpage__topnav-split>p{
    font-size: 2.4rem;
    margin-top: 0.4rem;
}
.chatpage__topnav-split>img{
    height: 4rem;
    width: 4rem;
    border-radius: 50%;
}
.chatpage__topnav-bottom-dropdownicon{
    cursor: pointer;
    align-items: center;
    margin-left: 0.4rem;
}
.chatarea-topNav{
    position: fixed;
    left: 33.33%;
    right: 0;
    top: 0;
    padding: 1.6rem;
    display: flex;
    gap: 1.2rem;
    background: #95f395;
}
.chatarea-topNav>img{
    height: 4rem;
    width: 4rem;
    border-radius: 50%;
   
}
.chatarea-topNav>p{
    font-size: 2.4rem;

}
.chatarea{
    margin-top: 10rem;
    height: 100vh;
    overflow-y: scroll;
    padding-bottom: 9.8rem;
    display: block;
   grid-column: 2;
}

.chatarea::-webkit-scrollbar {
  width: 0;  /* Remove scrollbar space */
  background: transparent;  /* Optional: just make scrollbar invisible */
}

.chatpage__splitdropdown{
    position: absolute;

    background: #f9f9f9;
    border-radius: 10px;
    margin-top: 4rem;
    margin-left: 14rem;
    border: 1px solid rgb(214, 214, 214);
    z-index: 24;
    
}
.chatpage__splitdropdown-split{
    display: flex;
    gap: 1.2rem;
  
    padding: 1.2rem 2rem;
    // border-bottom: 1px solid grey;
}
.chatpage__splitdropdown-split>img{
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    cursor: pointer;
  
}
.chatpage__splitdropdown-split>p{
    font-size: 2.4rem;
    cursor: pointer;
}
.chatpage__connections{
  //  margin-top: 13rem;
    padding-left:3.2rem ;
    padding-right: 3.2rem;
   padding-top: 1.2rem;
    height: 100vh;
    background:#fafafa;
    border-right: 1px solid rgb(179, 179, 179);
    top: 13rem;
    position: fixed;
    left: 0;
    right: 66.6%;
    z-index: 1;
 display: block;
    overflow-y:scroll;
//   height: calc(100vh - 15rem);
//   overflow: auto;
    
}

.chatpage__connections::-webkit-scrollbar {
    width: 0;  /* Remove scrollbar space */
    background: transparent;  /* Optional: just make scrollbar invisible */}

.chatpage-noconnectionmessage{
    font-size: 2.2rem;
}


// @media (max-width: 75em) {
//     .chatpage__container{
//         grid-template-columns: 1fr;
//     }
// }
.display-none{
     display: block;
}

.chatarea-backarrow{
    display: none;
}
@media (max-width: 51em) {
    .chatpage__container{
        display: block;
    }
    // .chatarea{
    //     display: block
    //     ;
    // }
    .chatarea-topNav{
        left: 0;
    }
    .chatpage__connections{
          right: 0;
        // display: none;
      }
      .chatpage__topnav{
        right: 0;
    }
    .display-none{
      display: none;
    }
.chatpage__splitdropdown{
    margin-left: 4rem;
}

.chatarea-backarrow{
    display: block;
}
}